* {
    border:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #59aadf, #c03ff1);
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: 2rem;
    width: 40rem;
    height:55rem;
}

h1 {
    grid-column: 2;
    text-align: center;
    padding: 2rem;
}

form {
    grid-column: 2;
    display: grid;
    align-items: left;
    grid-template-rows: repeat(auto-fit, 1fr);
    font-size: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    gap:0.25rem;
    color: gray;
}

input::placeholder,
textarea::placeholder {
    color: lightgray;
}

input[type=text],
input[type=email],
select,
textarea {
    border-bottom: 2px solid lightgrey;
    font-size:1rem;
    width: 30rem;
    height:2rem;
    color: lightgray;
}

input[type=text]:valid,
input[type=email]:valid,
select:valid,
textarea:valid {
    border-bottom:cornflowerblue solid 2px;
}

input[type=text]:invalid,
input[type=email]:invalid,
select:invalid,
textarea:invalid {
    border-bottom:crimson solid 2px;
}

select,
option {
    font-weight: bold;
    font-size: 1.5rem;
    color: darkgray;
}

input[type=submit] {
    background: linear-gradient(to right, #c03ff1, #59aadf);
    transition: border 0.4s ease-in-out;
    border-radius: 3rem;
    width: 30rem;
    height: 4rem;
    color: white;
}

input[type=submit]:hover {
    border: solid 2px black;
}

textarea {
    min-width: 30rem;
    max-width: 30rem;
}